body{
   background-color: #000;
}

.container {
   width: 1150px;
   margin: 0 auto;
   padding-left: 20px;
   padding-right: 20px;
}

.title {
   margin-top: 50;
   margin-bottom: 100px;
   text-align: center;
}

.list {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   margin: 0;
   margin-bottom: -40px;
   padding: 0;
   list-style: none;
   background-color: #000;
}

.item{
   width: 250px;
   margin-bottom: 40px;
   padding: 10px;
   color: #ffffff;
   background-color: #301919;
   border-radius: 20px;
}